diffusers==0.32.2
numpy
pandas==2.2.3
#torch==2.6.0+cu118 install torch separately!!! pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
tqdm==4.67.1
click==8.1.8
geopandas==1.0.1
haversine==2.9.0
loguru==0.7.3
matplotlib==3.10.1
munch==4.0.0
polars==1.26.0
pooch==1.8.2
PyYAML==6.0.2
PyYAML==6.0.2
Shapely==2.0.7
xarray==2025.1.2
scipy==1.11.3

ipykernel>=6.29.5
xarray>=2025.1.2
bottleneck>=1.4.2
pandas>=2.2.3
polars>=1.21.0
dask>=2025.1.0
loguru>=0.7.3
pooch>=1.8.2
matplotlib>=3.10.0
tqdm>=4.67.1
pyarrow>=19.0.0
click>=8.1.8
markdown>=3.7
geopandas>=1.0.1
folium>=0.19.4
mapclassify
copernicusmarine>=2.0.1
ipywidgets>=8.1.5
munch>=4.0.0
cartopy>=0.24.1
requests>=2.32.3
aiohttp>=3.11.13
cmocean>=4.0.3